$white: #ffffff;
$black: #000000;
$persian-red: #d32f2f;
$alto: rgba(255,255,255,.7);
$blue-ribbon:rgb(155,181,219);
$dark-blue: #0e2546;
$light-blue: #1f3759;
$green: rgb(52,196,159);
$shadow-green: rgb(46,173,142);
